@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap');

body {
  background-color: rgba(33, 90, 107, 1);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  color: #ffffff;
}

